[include mainsail.cfg]
[include macros.cfg]
[include stealthburner_leds.cfg]
[include shell_command.cfg]

[mcu]
canbus_uuid: 5fd64dd2affd

[mcu EBBCan]
canbus_uuid: ac18a78554f7

[mcu cartographer]
canbus_uuid: ee684772f1d8

[virtual_sdcard]
path: /home/stonecrusher/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 7000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 6

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^EBBCan:gpio24
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 50   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2240 stepper_x]
cs_pin: PC13
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
#diag1_pin: PF4
run_current: 0.9
interpolate: True
rref: 12000 #only for Kalico

[autotune_tmc stepper_x]
motor: moons-ms17hd6p420I-04
pwm_freq_target: 30e3

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PF3
position_min: 0
position_endstop: 257
position_max: 257
homing_speed: 50  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

## Motor2
[tmc2240 stepper_y]
cs_pin: PE3
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
#diag1_pin: PF3
run_current: 0.9
interpolate: True
rref: 12000 #only for Kalico

[autotune_tmc stepper_y]
motor: moons-ms17hd6p420I-04
pwm_freq_target: 30e3

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_B
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4    
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


[autotune_tmc stepper_z]
motor: moons-le172s-t0804-300-cn-01-200

##	Z1 Stepper - Rear  on Motor4
[stepper_z1]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
rotation_distance: 4  
microsteps: 32


[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc stepper_z1]
motor: moons-le172s-t0804-300-cn-01-200

##	Z2 Stepper - Front Right on Motor5
[stepper_z2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
rotation_distance: 4
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 990
sense_resistor: 0.110

[autotune_tmc stepper_z2]
motor: moons-le172s-t0804-300-cn-01-200

#####################################################################
# 	Extruder
#####################################################################

#	E0 on SB2209
[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
rotation_distance: 22.754562723
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
min_temp: 18
max_temp: 280
max_extrude_only_distance: 105
max_extrude_cross_section: 2
#control: pid
#pid_kp: 57.369
#pid_ki: 2.533
#pid_kd: 324.854
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio27
# pressure_advance: 0.2 #PLA

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.65
# stealthchop_threshold: 0
sense_resistor: 0.110

[autotune_tmc extruder]
motor: moons-cse14hra1l410a

[temperature_sensor chamber]
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2


#####################################################################
# 	Scanner (Cartographer)
#####################################################################

[cartographer]
mcu: cartographer            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
y_offset: 20                         
verbose: yes # For extra output


[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[bed_mesh]
zero_reference_position: 125, 125    
speed: 300
horizontal_move_z: 3
mesh_min: 15, 25
mesh_max: 235, 230
probe_count: 30, 30
adaptive_margin: 10
mesh_pps: 0,0
algorithm: bicubic

    
#####################################################################
# 	Bed Heater
#####################################################################
    
[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0 #ssr 10A
min_temp: 15
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


#####################################################################
# 	Fan Control
#####################################################################
[fan]
pin: EBBCan:gpio13

[heater_fan hotend_fan]
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0

[fan_generic bed_fans]
pin: PF9
kick_start_time: 0.5
min_power: 0.1

[controller_fan pcb_fan]
##	CNC_FAN3
pin: PF8

[output_pin nevermore]
##	CNC_FAN0
pin: PF7
value: 0
shutdown_value: 0


#####################################################################
# 	LED Control
#####################################################################

# [neopixel toolhead_light]
# pin: EBBCan:gpio16
# chain_count: 3
# color_order: GRBW

[output_pin caselight]
#Chamber Lighting - HE3 Connector
pin: PA3
pwm:true
shutdown_value: 0
cycle_time: 0.01

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[exclude_object]
[auto_speed]
[force_move]
enable_force_move: True #   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION

[idle_timeout]
gcode:
    TURN_OFF_HEATERS
    M84
    STATUS_OFF
    TURN_OFF_NEVERMORE
    TURN_OFF_BED_FANS
timeout: 900

[safe_z_home]
home_xy_position: 125,125
speed: 100
z_hop: 10

[z_tilt]
z_positions:
    -50, 18
    125, 298
    300, 18
points:
    30, 5
    125, 195
    220, 5
    
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    125, 125, 20
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

[shaketune]
show_macros_in_webui: True

[input_shaper]
shaper_type_x: ei
shaper_freq_x: 84.4
damping_ratio_x: 0.047
shaper_type_y: ei
shaper_freq_y: 58.6
damping_ratio_y: 0.044

########################################
# EXP1 / EXP2 (display) pins
########################################

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PE7, EXP1_2=PG1,
#     EXP1_3=PG0, EXP1_4=PF15,
#     EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
#     EXP1_7=PF12, EXP1_8=PF11,
#     EXP1_9=<GND>, EXP1_10=<5V>,

#     # EXP2 header
#     EXP2_1=PE13, EXP2_2=PE12,
#     EXP2_3=PE15, EXP2_4=PE11,
#     EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
#     EXP2_7=PE8, EXP2_8=<RST>,
#     EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 59.113
#*# pid_ki = 2.815
#*# pid_kd = 310.346
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 40.982
#*# pid_ki = 12.419
#*# pid_kd = 33.809
#*#
#*# [probe]
#*# z_offset = -1.000
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 1750
#*# scanner_touch_speed = 3
#*# scanner_touch_z_offset = 0.185
#*#
#*# [scanner model default]
#*# model_coef = 1.5087458490114616,
#*# 	1.8357997990320198,
#*# 	0.7569028657837905,
#*# 	0.34340970518678227,
#*# 	0.3569655557708227,
#*# 	0.37992570179391216,
#*# 	-0.18497012664268925,
#*# 	-0.3159337929577282,
#*# 	0.21407982126824004,
#*# 	0.20961988114325633
#*# model_domain = 3.2237596114828425e-07,3.3350906716601076e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 46.973677
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.0.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.461971867150373,1.9396742320004452,0.8496188197772001,0.4029246266097118,0.41005900570801646,0.45325559743342814,-0.19877987966984206,-0.36903762127764556,0.27699431040141215,0.2742352452931896
#*# domain = 3.223398176464301e-07,3.336241395920949e-07
#*# z_offset = 0
#*# reference_temperature = 23.88
#*#
#*# [cartographer touch_model default]
#*# threshold = 1308
#*# speed = 2
#*# z_offset = -0.05
#*#
#*# [cartographer]
#*# z_backlash = 0.00282
